*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------- header ----------------------- */
.header{
    height: 70px;
    width: 100%;
    background-color: rgb(0,0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header img{
    height: 70px;
    width: 70px;  
    margin-right: 1%;  
}

.header h1{
    color: white;
}

/* -------------------- content -------------------------- */
.content{
    width: 100%;
    padding: 20px; 
    float: right;
    transition: 0.4s;
}
.content img{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
    
}

.content p{
    margin-top: 10px;
    text-align: justify;
}

/* ----------------------------------- sidebar -------------------------------------------- */
.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: -100%;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border-bottom: 2px solid rgba(255,255,255,.2);
}

.sidebar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
    transition: 0.4s;
}

.sidebar ul a i{
    padding-right: 25px;
}

.sidebar ul li a:hover{
    border-left: 10px solid white;
}

.social i{
    font-size: 30px;
    color: white;
}

.social{
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    border-bottom: 2px solid rgba(255,255,255,.1);
    border-top: 2px solid rgba(255,255,255,.1);
    padding: 10px 10px;
}

.shw-btn, .hide-btn{
    font-size: 35px;
    color: white;
    position: fixed;
    top: 15px;
    left: 50px;
}

.hide-btn{
    opacity: 0;
}

#chk:checked ~ .sidebar{
    left: 0;
}

#chk:checked ~ .shw-btn{
    opacity: 0;
}

#chk:checked ~ .hide-btn{
    opacity: 1;
}

#chk:checked ~ .content{
    width: 80%;
}

#chk{
    display: none;
}

@media(max-width: 768px)
{
    .sidebar{
        width: 100%;
        text-align: center;
    }
    .header h1{
        display: none;
    }
    .social{
        margin-top: 300px;
    }
}